:root {
  --background: #f4f8ff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6c6d70;
    --foreground: #fff;
  }
}

@media (prefers-color-scheme: dark) {
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.l-contents {
  max-width: 1900px;
  padding: 0 15px;
  margin: 0 auto;
}
.l-wrap {
  margin: 0 auto;
  max-width: 1400px;
}
.l-main {
  max-width: 1900px;
  padding: 0 15px;
  margin: 0 auto;
}


input {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  display: inline-block;
  min-height: 40px;
  background-color: #fff;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 15px;
  box-sizing: border-box;
}